@using System.Globalization;
@model Nakshatra.Api.Model.Profile.UserProfileInfo

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
			<div class="banner_content">
				<div class="media">
					<div class="d-flex">
						<img src="img/personal.jpg" alt="">
					</div>
					<div class="media-body">
						<div class="personal_text">
							<h6>Hello Everybody, i am</h6>
							<h3>@Model.PersonalDetails.FirstName @Model.PersonalDetails.LastName</h3>
							<h4>@Model.ExperienceDetails.OrderByDescending(e => e.ExperienceId).Select(e => e.Role).FirstOrDefault()</h4>
							<p>@Model.ShortDescription</p>
							<ul class="list basic_info">
								<li><a href="#"><i class="lnr lnr-calendar-full"></i> @String.Format("{0}st {1}",@Model.PersonalDetails.DateofBirth.Day, @Model.PersonalDetails.DateofBirth.ToString("MMMM"))</a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> @Model.PersonalDetails.Email</a></li>
								<li><a href="#"><i class="lnr lnr-home"></i>@Model.AddressDetails.Where(a => a.AddressId == @Model.PersonalDetails.AddressId).Select(p => p.State).FirstOrDefault(), @Model.AddressDetails.Where(a => a.AddressId == @Model.PersonalDetails.AddressId).Select(p => p.Country).FirstOrDefault()</a></li>
							</ul>
							<ul class="list personal_social">
                                <li><a target="_blank" href="@Model.SocialDetails.Where(s => s.Name.Equals("Blogger/dotnetkari", StringComparison.InvariantCultureIgnoreCase)).Select(s => s.Link).FirstOrDefault()"><i class="fa fa-gears"></i></a></li>
                                <li><a target="_blank" href="@Model.SocialDetails.Where(s => s.Name.Equals("LinkedIn", StringComparison.InvariantCultureIgnoreCase)).Select(s => s.Link).FirstOrDefault()"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="@Model.SocialDetails.Where(s => s.Name.Equals("FaceBook", StringComparison.InvariantCultureIgnoreCase)).Select(s => s.Link).FirstOrDefault()"><i class="fa fa-facebook"></i></a></li>
			                </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>
<!--================End Home Banner Area =================-->
        
<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
        	<div class="col-lg-6">
        		<div class="welcome_text">
        			<h4>About Myself</h4>
        			<p>@Model.LongDescription1</p>
        		</div>
				<div class="welcome_text">
        			<p>@Model.LongDescription2</p>
        		</div>
                <div class="welcome_text">
                   <b>Specialities:</b>
                   @foreach (var detail in @Model.ProfileDetails)
					{
        			   <ul>
                          <li>@detail</li>
                       </ul>  
                     }
        		</div>
        	</div>
        	<div class="col-lg-6">
        		<div class="tools_expert">
        			<div class="skill_main">
						@foreach (var skill in @Model.SkillDetails)
						{
							<div class="skill_item">
								<h4>@skill.Name <span class="counter">@skill.Proficency</span>%</h4>
								<div class="progress_br">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="@skill.Proficency" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						}
					</div>
        		</div>
        	</div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
        
<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<ul class="list">
                        @foreach (var experience in @Model.ExperienceDetails.OrderByDescending(o => o.ExperienceId))
                        {
						    <li>
							    <span></span>
							    <div class="media">
								    <div class="d-flex">
                                        @if (experience.EndDate != null)
                                        {
                                            <p>Year @experience.StartDate.ToString("yyyy") to @experience.EndDate?.ToString("yyyy")</p>
                                        }
                                        else
                                        {
                                            <p>Year @experience.StartDate.ToString("yyyy") to Now</p>
                                        }
								    </div>
								    <div class="media-body">
									    <h4>@Model.CompanyDetails.Where(c => c.CompanyId == @experience.CompanyId).Select(c => c.Name).FirstOrDefault()</h4>
									    <p>@experience.Role <br />@Model.AddressDetails.Where(a => a.AddressId == @Model.CompanyDetails.Where(c => c.AddressId == @experience.CompanyId).Select(s=>s.AddressId).FirstOrDefault()).Select(p => p.City).FirstOrDefault(), @Model.AddressDetails.Where(a => a.AddressId == @Model.CompanyDetails.Where(c => c.CompanyId == @experience.CompanyId).Select(s=>s.AddressId).FirstOrDefault()).Select(p => p.Country).FirstOrDefault()</p>
								    </div>
							    </div>
						    </li>
                        }
					</ul>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<ul class="list">
                        @foreach (var education in @Model.EducationDetails)
                        {
						    <li>
							    <span></span>
							    <div class="media">
								    <div class="d-flex">
									    <p>Year @education.StartDate.ToString("yyyy") to @education.EndDate.ToString("yyyy")</p>
								    </div>
                                     <div></div>
								    <div class="media-body">
									    <h4>@education.College</h4>
									    <p>@education.Qualification <br />@Model.AddressDetails.Where(a => a.AddressId == @education.AddressId).Select(p => p.City).FirstOrDefault(), @Model.AddressDetails.Where(a => a.AddressId == @education.AddressId).Select(p => p.Country).FirstOrDefault()</p>
								    </div>
							    </div>
						    </li>
                        }
					</ul>
				</div>
			</div>
        </div>
    </div>
</section>
<!--================End My Tabs Area =================-->

<!--================Start Certifications =================-->
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Certifications</h2>
        </div>
        <div class="feature_inner row">
            @foreach (var certification in @Model.CertificationDetails)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <i class="fa fa-certificate"></i>
                        <h4>@certification.Name</h4>
                        <p>@certification.DateIssued.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</p>
                        <p><a href="@certification.Link">Show credential</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!--================End Certifications =================-->
 

<!--================Start My Work =================-->
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>My Work</h2>
        </div>
        <div class="feature_inner row">
            @foreach (var project in @Model.ProjectDetails)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <i class="fa fa-rocket"></i>
                        <h4><a href="@project.Link">@project.Name</a></h4>
                        <p>@project.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End My Work =================-->

<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
        	<h2>Work Process</h2>
        </div>
        <div class="feature_inner row">
            @foreach (var workFlow in @Model.WorkFlowDetails)
            {
                <div class="col-lg-4 col-md-6">
        	        <div class="feature_item">
                        <i class="fa fa-arrow-right"></i>
        		        <h4>@workFlow.Name</h4>
        		        <p>@workFlow.Description</p>
        	        </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
 
<!--================Testimonials Area =================-->
<!--================End Testimonials Area =================-->