@page
@model Nakshatra.PersonalWebsite.Web.Pages.ContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration _config;

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Contact Us</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="contact.html">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Contact Area =================-->
<section class="contact_area p_120" id="message">
    <div class="container">
        @if (Request.Method == "POST")
        {
            @if (@Model.Success)
            {
                <div class="row">
                    <h4 class="text-success">Thanks for connecting with me. I will get back to you soon.</h4>
                </div>
            }
            else
            {
                <div class="row">
                    <h4 class="text-danger">There was an error sending your message. Please try again in some time.</h4>
                </div>
            }
        }
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>@Model.Profile.AddressDetails.Where(a => a.AddressId == @Model.Profile.PersonalDetails.AddressId).Select(p => p.State).FirstOrDefault(), @Model.Profile.AddressDetails.Where(a => a.AddressId == @Model.Profile.PersonalDetails.AddressId).Select(p => p.Country).FirstOrDefault()</h6>
                        <p>@Model.Profile.AddressDetails.Where(a => a.AddressId == @Model.Profile.PersonalDetails.AddressId).Select(p => p.City).FirstOrDefault()</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">@Model.Profile.PersonalDetails.Email</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form method="post">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Enter Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->